/* 
    File: globals.scss
    Version: 1.0.0
    Developer: Danny Nothdurft  
    Description:
*/

//imports
@import "./variables.scss";
@import "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Poppins";
  color: $color-dark;
}

body {
  position: relative;
}

h1 {
  font-size: 3em;
  font-family: "Poppins";
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &.btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

button {
  border: none;
  background-color: unset;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  font-size: 16px;
}

hr {
  color: $color-gray;
  margin: 15px 0;
}

ul {
  margin: 10px 0;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.btn {
  background-color: $color-primary;
  border-radius: 4px;
  padding-right: 12px;
  padding-left: 12px;
  width: 200px;
  font-weight: 600;

  &.secondary {
    background-color: unset;
    border: 2px solid $color-primary;
    color: $color-secondary;

    &:hover {
      border-color: $color-secondary;
      color: $color-bright;
    }
  }

  &:hover {
    background-color: $color-secondary;
    color: $color-bright;
    @include box-shadow;
  }

  &.header {
    padding: 18px 36px;
    font-size: 1.5rem;
    width: 300px;
  }
}

.logo-link {
  display: flex;
  align-items: center;

  span {
    font-size: 1.5em;
  }
}

// Navigation
.vp-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding: 10px 20px;
  @include box-shadow;

  .vp-nav-cta {
    display: flex;
    gap: 15px;
  }
}

.vp-search {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 500px;

  .vp-search-icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }

  .vp-search-input-field {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: $color-bg-gray;
    transition: 0.3s ease;

    &::placeholder {
      color: $color-gray;
    }

    &:focus,
    :hover {
      outline: none;
      border-color: $color-border-primary;
      background-color: $color-bg-bright;
      box-shadow: 0 0 0 4px $color-border-secondary;
    }
  }
}

.vp-user-button {
  background-color: $color-primary;
  border-radius: 50%;

  &:hover {
    background-color: $color-secondary;
    @include box-shadow;
  }
}

// Footer
footer {
  display: flex;
  justify-content: space-around;
  min-height: 50px;
  padding: 25px;
  background-color: $color-dark;

  h4,
  a {
    color: $color-bright;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}

// Homepage
.vp-home-header {
  height: 500px;
  background-image: url("/images/vier-pfoten-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.vp-special-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;

  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;

    span {
      font-size: 0.4em;
    }
  }
}

.vp-advertisement-tiles {
  max-width: 1100px;
  width: 100%;
  margin: 80px auto 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 80px 20px;
}

.vp-section {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: $color-bg-gray;
  flex: 1;

  > div {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    h3 {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}

// Tile
.vp-tile {
  @include box-shadow;

  width: 100%;
  border-radius: 8px;
  position: relative;
  padding: 115px 10px 30px;

  h3 {
    color: $color-secondary;
    font-size: 1.1em;
  }

  .vp-tile-image-wrapper {
    background-color: $color-bg-gray;
    width: 95%;
    position: absolute;
    border-radius: 8px;
    left: 50%;
    top: -50px;
    transform: translate(-50%);

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .tile-location-info {
    color: $color-gray-dark;
    font-size: 0.9em;
  }

  .tile-info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }

  .tile-classifieds-info {
    position: absolute;
    font-size: 0.85em;
    bottom: 0;
    border-top: 1px solid black;
    width: 100%;
    left: 0;
    padding: 0 10px;
    background-color: $color-bg-gray;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;

    p {
      color: $color-secondary;
    }
  }
}

// Info Pages
.info-page-ct {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 253px);
  padding: 30px 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    margin: 15px 0 10px;
  }

  h3 {
    margin: 15px 0 10px;
  }

  ul {
    margin: 15px;
  }

  .Contact-Formular {
    background-color: $color-bg-gray;
    width: 577px;
    border-radius: 8px;
    letter-spacing: -0.04em;
    padding: 20px 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      display: block;
      color: $color-dark;
      margin-top: 15px;
      width: 100%;

      .Stern {
        color: $color-secondary;
        margin-left: 2px;
      }

      input {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid $color-primary;
        color: $color-dark;
      }

      textarea {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-primary;
        color: $color-dark;
        padding: 10px;
      }
    }

    .form-button {
      border: 0;
      padding: 20px 32px;
      border-radius: 8px;
      margin-top: 30px;
      cursor: pointer;
      font-size: 1.2em;
      width: max-content;
    }
  }
}
