/* 
    File: globals.scss
    Version: 1.0.0
    Developer: Danny Nothdurft  
    Description:
*/

//imports
@import "./variables.scss";
@import "./fonts.scss";

// Elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Poppins";
  color: $color-dark;
}

body {
  position: relative;
}

h1 {
  font-size: 2em;
  font-family: "Poppins";
  font-style: italic;
  text-align: center;

  @media #{$tablet} {
    font-size: 3em;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &.btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

button {
  border: none;
  background-color: unset;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  font-size: 16px;
}

hr {
  color: $color-gray;
  margin: 15px 0;
}

ul {
  margin: 10px 0;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.bold {
  font-weight: bold;
}

.center {
  margin: 0 auto;
}

.btn {
  background-color: $color-primary;
  border-radius: 4px;
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
  font-weight: 600;
  font-size: 1.2em;
  max-width: 300px;

  &.secondary {
    background-color: unset;
    border: 2px solid $color-primary;
    color: $color-secondary;

    &:hover {
      border-color: $color-secondary;
      color: $color-bright;
    }
  }

  &:hover {
    background-color: $color-secondary;
    color: $color-bright;
    @include box-shadow;
  }

  @media #{$tablet} {
    font-size: 1em;
    width: 225px;
  }

  @media #{$desktop} {
    height: 35px;
  }
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    font-size: 1.5em;
  }
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

// HamburgerButton
.hamburger-menu-btn {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;

  .hamburger-menu-line {
    height: 3px;
    width: 25px;
    background-color: $color-dark;
    border-radius: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: block;
    @include box-shadow;

    &.topline {
      &.active {
        transform: translateY(6px) rotate(45deg);
      }
    }

    &.middleline {
      &.active {
        opacity: 0;
      }
    }

    &.bottomline {
      &.active {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }

  @media #{$tablet} {
    display: none;
  }
}

// Navigation
.vp-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  @include box-shadow;
}

.vp-search {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 100%;

  .vp-search-icon {
    position: absolute;
    left: 1rem;
    fill: $color-dark;
    width: 1rem;
    height: 1rem;
  }

  .vp-search-input-field {
    width: 100%;
    height: 35px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: $color-bg-gray;
    transition: 0.3s ease;

    &::placeholder {
      color: $color-gray;
    }

    &:focus,
    :hover {
      outline: none;
      border-color: $color-border-primary;
      background-color: $color-bg-bright;
      box-shadow: 0 0 2px $color-border-secondary;
    }
  }

  @media #{$tablet} {
    max-width: 250px;
  }
}

.vp-user-button {
  width: 50px;
  height: 50px;
  background-color: $color-primary;
  border-radius: 50%;

  &:hover {
    background-color: $color-secondary;
    @include box-shadow;
  }

  @media #{$desktop} {
    height: 35px;
    width: 35px;
  }
}

.mobile-menu {
  position: absolute;
  top: 55px;
  left: 5px;
  right: 5px;

  background-color: $color-bright;
  padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  z-index: 100;

  @include box-shadow;

  .vp-nav-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.dektop-menu {
  display: none;
  gap: 15px;
  justify-content: center;
  align-items: center;

  .vp-nav-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  @media #{$tablet} {
    display: flex;
  }

  @media #{$desktop} {
    .vp-nav-cta {
      flex-direction: row;
    }
  }
}

// Homepage
.vp-home-header {
  height: 400px;
  padding: 10px;
  background-image: url("/images/vier-pfoten-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.vp-special-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 200px;

  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;

    span {
      font-size: 0.4em;
    }
  }

  @media #{$tablet} {
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
}

.vp-section {
  min-height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: $color-bg-gray;
  flex: 1;

  > div {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  img {
    height: 150px;
    width: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }

  @media #{$tablet} {
    flex-direction: row;
  }

  @media #{$desktop} {
    img {
      height: 280px;
    }
  }
}

.vp-advertisement-tiles {
  max-width: 1200px;
  padding: 10px;
  width: 100%;
  margin: 60px auto 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 60px 20px;

  @media #{$mobileMax} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{$tablet} {
    grid-template-columns: repeat(3, 1fr);
  }

  @media #{$desktop} {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Tile
.vp-tile {
  width: 100%;
  border-radius: 8px;
  position: relative;
  padding: 105px 10px 30px;
  @include box-shadow;

  h3 {
    color: $color-secondary;
    font-size: 1.2em;
  }

  .vp-tile-image-wrapper {
    background-color: $color-bg-gray;
    width: 95%;
    position: absolute;
    border-radius: 8px;
    left: 50%;
    top: -50px;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .tile-location-info {
    color: $color-gray-dark;
    font-size: 0.9em;
  }

  .tile-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    position: relative;
    max-height: 7.5em;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 100) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      pointer-events: none;
    }

    ul {
      li {
        display: none;
      }
    }
  }

  .tile-info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }

  .tile-classifieds-info {
    position: absolute;
    font-size: 0.85em;
    bottom: 0;
    border-top: 1px solid black;
    width: 100%;
    left: 0;
    padding: 0 10px;
    background-color: $color-bg-gray;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;

    p {
      color: $color-secondary;
    }
  }
}

// Footer
footer {
  background-color: $color-dark;
  padding: 0 10px;

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50px;
    padding: 25px;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;

    h4,
    a {
      color: $color-bright;
    }

    .footer-section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      div {
        display: flex;
        flex-direction: column;
      }
    }
  }

  @media #{$tablet} {
    .footer-wrapper {
      flex-direction: row;
    }
  }
}

// Info Pages
.info-page-ct {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 230px);
  padding: 20px 10px;

  h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.3em;
    margin: 15px 0 10px;
  }

  h3 {
    font-size: 1.2em;
    margin: 15px 0 10px;
  }

  ul {
    margin: 15px;
  }

  .Contact-Formular {
    background-color: $color-bg-gray;
    width: 100%;
    border-radius: 8px;
    letter-spacing: -0.04em;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      text-align: center;
      margin-top: 0;
    }

    label {
      display: block;
      color: $color-dark;
      margin-top: 10px;
      width: 100%;
      font-size: 0.7em;

      .Stern {
        color: $color-secondary;
        margin-left: 2px;
      }

      input {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid $color-primary;
        color: $color-dark;
      }

      textarea {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $color-primary;
        color: $color-dark;
        padding: 10px;
      }
    }

    .form-button {
      border: 0;
      padding: 10px 32px;
      border-radius: 8px;
      margin-top: 30px;
      cursor: pointer;
      font-size: 1.2em;
    }
  }

  @media #{$mobileMax} {
    padding: 30px 20px;

    h1 {
      font-size: 2em;
    }

    .Contact-Formular {
      padding: 20px 40px;
      margin-top: 20px;

      label {
        margin-top: 15px;
        font-size: 1em;
      }
    }
  }

  @media #{$tablet} {
    .Contact-Formular {
      width: 577px;

      margin-top: 50px;
    }
  }
}
