/* 
    File: inserate.scss
    Version: 1.0.0
    Developer: Danny Nothdurft  
    Description:
*/

@import "./variables.scss";

.vp-inserate-header {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  background-image: url("/images/vier-pfoten-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vp-inserate-wrapper {
  max-width: 1200px;
  display: flex;
  margin: 25px auto;
  gap: 25px;
  padding: 0 10px;

  .vp-filtered-ct {
    display: none;
    width: 300px;
    height: max-content;
    padding: 10px;
    border-radius: 8px;
    background-color: $color-bg-gray;
  }

  .vp-search-ct {
    display: flex;
    flex-direction: column;
    width: 100%;

    .vp-search-results {
      margin: 60px auto 10px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 80px 20px;
      width: 100%;
    }
  }

  @media #{$mobileMax} {
    .vp-search-ct {
      .vp-search-results {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media #{$tablet} {
    .vp-search-ct {
      .vp-search-results {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media #{$desktop} {
    .vp-filtered-ct {
      display: flex;
    }

    .vp-search-ct {
      .vp-search-results {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

//Pagination
.pagination-container {
  display: flex;
  justify-content: center;
  gap: 0.5em;

  .pagination-button {
    padding: 0.2em 0.6em;
    border: 1px solid $color-secondary;
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: $color-bright;
    color: $color-secondary;

    &:hover {
      background-color: $color-primary;
    }

    &.active {
      background-color: $color-secondary;
      color: white;
      border-color: $color-secondary;
    }
  }
}


