/* 
    File: inserate.scss
    Version: 1.0.0
    Developer: Danny Nothdurft  
    Description:
*/

@import "./variables.scss";

.vp-inserate-header {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vp-inserate-wrapper {
  max-width: 1200px;
  display: flex;
  margin: 25px auto;
  gap: 25px;

  .vp-filtered-ct {
    width: 300px;
    height: max-content;
    padding: 10px;
    border-radius: 8px;
    background-color: $color-bg-gray;
  }

  .vp-search {
    display: flex;
    flex-direction: column;
    width: 100%;

    .vp-search-results {
      margin: 80px auto 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 80px 20px;
      width: 100%;
    }
  }
}

//Pagination

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 0.5em;

  .pagination-button {
    padding: 0.2em 0.6em;
    border: 1px solid $color-secondary;
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: $color-bright;
    color: $color-secondary;

    &:hover {
      background-color: $color-primary;
    }

    &.active {
      background-color: $color-secondary;
      color: white;
      border-color: $color-secondary;
    }
  }
}
