/* 
    File: userModal.scss
    Version: 1.0.0
    Developer: Danny Nothdurft  
    Description:
*/

@import "./variables.scss";

.vp-user-modal-ct {
  position: absolute;
  top: 75px;
  right: 5px;
  left: 5px;
  background-color: $color-bg-bright;
  @include box-shadow;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 200;

  @media #{$mobileMax} {
    left: unset;
  }
}

.vp-auth-ct {
  background-color: $color-bg-gray;
  padding: 10px;
  min-height: calc(100vh - 253px);

  .vp-auth-wrapper {
    background-color: $color-bg-bright;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 500px;
    padding: 10px;
    @include box-shadow;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: relative;
      width: 100%;

      h2 {
        font-size: 1.6rem;
        line-height: 1.2;
        font-weight: 500;
      }

      label {
        display: flex;
        flex-direction: column;
        color: #7e7e7e;
        font-weight: 400;
        line-height: 1.5;
        font-size: 0.875rem;
        width: 100%;

        &.line {
          flex-direction: row;
          align-items: center;
          gap: 25px;
        }

        input {
          height: 41px;
          border-radius: 0;
          background: #fff;
          border: 1px solid #e6e6eb;
          color: #6e6e6e;
          padding: 0.5rem 1rem;
          font-size: 1.1rem;
          border-radius: 3px;

          &:focus {
            outline: 1px solid $color-primary;
          }
        }
      }

      button {
        height: 50px;
        font-weight: 700;
        padding: 0.625rem 1rem;
        border-radius: 4px;
        color: $color-bg-bright;
        background-color: $color-secondary;
        width: 100%;
      }
    }

    .alert-danger {
      border-left: 4px solid #ff2e2e;
      background: #fff0f0;
      color: #ff2e2e;
      padding: 1rem 1.5rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      position: absolute;
      top: 8px;
      left: 8px;
      right: 8px;
    }
  }
}

.user-modal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  a {
    width: 100%;
    padding: 2px 5px;
    border-radius: 8px;

    &:hover {
      background-color: $color-bg-gray;
    }
  }
  @media #{$mobileMax} {
    width: 200px;
  }
}

.auth-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    text-align: center;
  }

  .cta-ct {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
}
