/* 
    File: userModal.scss
    Version: 1.0.0
    Developer: Danny Nothdurft  
    Description:
*/

@import "./variables.scss";

.vp-user-modal-ct {
  position: absolute;
  top: 75px;
  right: 25px;
  background-color: $color-bg-bright;
  @include box-shadow;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .cta-ct {
    display: flex;
    justify-content: space-around;
    gap: 25px;
  }
}

.vp-auth-ct {
  background-color: $color-bg-gray;
  padding: 50px;
  min-height: calc(100vh - 228px);

  .vp-auth-wrapper {
    background-color: $color-bg-bright;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 650px;
    padding: 25px;

    h1 {
      text-align: center;
    }
  }
}
