/* 
    File: variables.scss
    Version: 1.0.0
    Developer: Danny Nothdurft  
    Description:
*/

// Colors Fonts
$color-dark: #0d0c22;
$color-primary: rgba(180, 233, 65, 100);
$color-secondary: rgba(50, 105, 22, 100);
$color-bright: rgba(255, 255, 255, 100);
$color-gray-dark: rgba(160, 167, 177, 100);
$color-gray: rgba(221, 219, 213, 100);

// Colors backgrounds
$color-bg-bright: rgba(255, 255, 255, 100);
$color-bg-gray: rgba(244, 242, 239, 100);

// Color borders
$color-border-primary: rgba(180, 233, 65, 0.4);
$color-border-secondary: rgba(50, 105, 22, 0.1);

// Mixin
@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}

@mixin box-shadow-inset {
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}

// Viewports
$max: "only screen and (min-width: 1297px)";
$desktop: "only screen and (max-width: 1296px)";
$tablet: "only screen and (max-width: 990px)";
$mobileMax: "only screen and (max-width: 672px)";
$mobile: "only screen and (max-width: 480px)";

/*
Beispiel:
  @media #{$tablet} {
    height: 64px;
    padding: 12px 16px;
  }
*/
